/**
* Slideshow
*/

.slideshow-wrapper {
  position: relative;

  @include on-vp-max('medium') {
    padding-top: 65px;
  }

  & .__img {
    width: 100%;
  }
}

.slideshow-titlegroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color__secondary;

  @include on-vp('medium') {
    position: absolute;
    top: 35%;
    left: 22%;
    width: 15%;
  }

  @include on-vp-max('medium') {
    padding: 15px;
  }

  & > .__title {    
    margin-bottom: 20px;
    line-height: 1;
    text-align: right;

    @include on-vp('medium') {
      margin-bottom: 40px;
      text-align: left;
    }
  }

  & > .__subtitle {
    text-align: left;

    @include on-vp('medium') {
      padding-right: 51px;
    }
  }
}
  
// Vue Carousel override
.VueCarousel-navigation {
  & .VueCarousel-navigation-button {
    width: 5%;
    height: 100%;

    @include on-vp('medium') {
      width: 45px;
      height: 45px;
    }

    &.VueCarousel-navigation-prev, &.VueCarousel-navigation-next {
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color:rgba($color__gray--light, .3);

        @include on-vp('medium') {
          background-color: $color__gray--light;
        }
      }

      & img {
        @include on-vp('medium') {
          width: 100%;
          height: 100%;
        }

        @include on-vp-max('medium') {
          display: none;
        }
      }

      &[style] {
        outline: none !important;
    }
    }

    &.VueCarousel-navigation-prev {
      transform: translateY(-50%);

      @include on-vp('medium') {
        transform: translateY(-50%) translateX(40%);
      }
    }

    &.VueCarousel-navigation-next {
      transform: translateY(-50%);

      @include on-vp('medium') {
        transform: translateY(-50%) translateX(-40%);
      }
    }
  }
  
}

.VueCarousel-pagination {
  padding: 5px 0;

  @include on-vp('medium') {
    padding: 25px 0;
  }
}

.VueCarousel-dot-container[style] {
  margin: 0 !important;
}

.VueCarousel-dot[style] {
    margin: 0 !important;
    outline: none !important;
}
