/**
* Footer
*/

.page-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 30px 20px;
  background-color: $color__primary;
  color: $color__secondary;
  border-top: 2px solid $color__gray--dark;

  @include on-vp('small') {
    align-items: center;
  }

  @include on-vp('medium') {
    padding: 50px;
  }
}

.footer-logo {
  width: 150px;
  height: 36px;
  margin-bottom: 20px;

  @include on-vp('medium') {
    margin-bottom: 60px;
  }

  & > .__img {
    width: 100%;
    height: 100%;
  }
}

.footer-nav {
  width: 100%;
  margin-bottom: 20px;
  
  @include on-vp('medium') {
    margin-bottom: 50px;
  }

  @include on-vp('large') {
    display: flex;
    justify-content: center;
  }

  & .navigation-list {
    @include on-vp('medium') {
      justify-content: space-evenly;

      @include Edge-fix {
        justify-content: space-around;
      }

      @include IE-fix {
        justify-content: space-around;
      }
    }

    & > .__item {
      padding: 5px 35px;
    }
  }
}

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-link {
  font-size: 30px;

  @include on-vp('medium') {
    font-size: 20px;
  }

  & > .__icon {
    color: $color__secondary;
    margin-right: 15px;
    transition: color 0.5s ease-in-out;

    @include on-vp('medium') {
      color: $color__text--dark;
      margin-right: 15px;
    }

    &:hover {
      color: $color__secondary;
    }
  }

  &:last-child {
    & > .__icon {
      margin: 0;
    }
  }
}

