/**
* Cookie
*/

.cookie-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color__secondary;
  transition: visibility 0.5s 1s, opacity 1s ease-in-out;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.cookie-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  & .__btn {
    width: 100px;
    height: 30px;
    padding: 8px;
    font-size: 10px;
  }
}

.cookie-disclaimer {
  margin-right: 30px;

  & > .__link {
    &:hover {
      text-decoration: underline;
    }
  }
}