/**
* Banner
*/

.banners-wrapper {
  display: flex;
  flex-direction: column;
}

.banner-wrapper {
  width: 100%;
  background-color: $color__primary;

  & .-inverted {
    & .grid-column {
      &:last-of-type {
        @include on-vp('medium') {
          background-color: $color__secondary;
        }

        & .banner-info {
          @include on-vp('medium') {
            padding: 0 100px 0 0;
            color: $color__primary;
          }
        }
      }
    }
  }

  & .grid-column {
    justify-content: center;    

    @include on-vp('medium') {
      min-height: 600px;
    }
  }
}

.banner-image {
  width: 100%;
  min-height: 350px;
  background-size: cover;

  @include on-vp('medium') {
    min-height: 600px;
    background-size: initial;
  }

  .-weare & {
    background: url('../assets/images/banner-we-are.jpg') no-repeat;
    background-size: cover;

    @include on-vp('medium') {
      background-size: initial;
    }
  }

  .-wedo &{
    background: url('../assets/images/banner-we-do.jpg') right no-repeat;
    background-size: cover;

    @include on-vp('medium') {
      background-size: initial;
    }
  }

  .-careers & {
    background: url('../assets/images/banner-carrers.jpg') no-repeat;
    background-size: cover;
    
    @include on-vp('medium') {
      background-size: initial;
    }
  }
}

.banner-info {
  display: flex;
  flex-direction: column;
  align-content: right;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: $color__secondary;

  @include on-vp('medium') {
    padding: 0 0 0 100px;
    padding: 40px 20px;
  }

  & > .__title, & > .__subtitle {
    margin-bottom: 20px;

    @include on-vp('medium') {
      width: 49%;
      margin-bottom: 40px;
    }
  }

  & > .__subtitle {
    white-space: pre-line;
  }

  .-careers & {
    & > .__title {
      width: 100%;

      @include on-vp('medium') {
        width: 60%;
      }
    }
  }

  .-inverted & {
    align-items: flex-end;

    & > .__title, & > .__subtitle {
      text-align: right;
    }
  }
}