/**
* Header
*/

.page-header {
  position: fixed;
  top: 0;
  left: 0; // necessary for IE
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: background-color 0.8s ease-in-out;

  &.is-carousel-covered {
    background-color: rgba($color__primary, .8);
  }
  
  &.is-carousel-visible {
    background-color: transparent;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;

  @include on-vp('large') {
    padding: 40px 50px;
  }
  
  @include on-vp('large-l') {
    padding: 40px 150px;
  }
}

.header-logo {
  display: flex;
  width: 150px;
  height: 22px;

  & > .__img {
    width: 100%;
    height: 100%;
  }
}

.header-nav {
  display: flex;

  @include on-vp('small') {
    justify-content: center;
    padding: 10px;
  }

  @include on-vp('medium') {
    justify-content: flex-end;
  }

  @include on-vp-max('small') {
    display: none;
  }

  & .navigation-list {
    // width: 100%;
    color: $color__secondary;

    & > .__item {
      padding: 0 15px;
      cursor: pointer;

      @include on-vp('large-l') {
        padding: 0 30px;
      }
    }
  }
}
