/**
* Cookie
*/

.cookie-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color__secondary;
  transition: visibility 0.5s 1s, opacity 1s ease-in-out;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.cookie-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  & .__btn {
    width: 150px;
    height: 45px;
    padding: 5px;
    font-size: 1rem;
    align-self: flex-end;
    
    @include on-vp('medium') {
      width: 100px;
      height: 30px;
      font-size: 0.625rem;
      padding: 8px;
    }
  }
}

.cookie-disclaimer {
  margin-bottom: 10px;

  @include on-vp('medium') {
    margin: 0 30px 0 0;
  }

  & > .__link {
    &:hover {
      text-decoration: underline;
    }
  }
}