/**
* Contact
*/

.contacts-wrapper {
  padding: 20px 0;

  @include on-vp('medium') {
  padding: 50px 0;
  }

  @include on-vp('large') {
  padding: 100px 0;
  }
}

.contacs-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color__secondary;
  
  @include on-vp('large') {
    padding-left: 60px;
  }
  
  @include on-vp('large-l') {
    padding-left: 40px;
  }

  & > .__title {
    margin-bottom: 15px;

    @include on-vp('medium') {
      margin-bottom: 35px;
    }
  }

  & > .__subtitle {
    white-space: pre-line;

    @include on-vp-max('medium') {
      margin-bottom: 30px;
    }
  }
}

.contacts-form {
  display: flex;

  @include on-vp('medium') {
    padding: 0 0 0 10px;
  }
  
  @include on-vp('large') {
    padding: 0 50px 0 50px;
  }

  @include on-vp('large-l') {
    padding: 0 0 0 50px;
  }

  & > .__btn {
    min-width: 160px;
    min-height: 40px;
  }


}