/**
* Header
*/

// Variables
// for burger menu animation
$line-size: 3px;
$to-translate: (20px - $line-size) / 2;

//for for container height
$page-header-height: 70px;
$subMenu-height : 56px;

.page-header {
  position: fixed;
  top: 0;
  left: 0; // necessary for IE
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 40px 150px;
  background: rgba(00, 00, 00, 0.5);
}

.header-logo {
  display: flex;
  width: 150px;
  height: 22px;

  & > .__img {
    width: 100%;
    height: 100%;
  }
}

.header-nav {
  display: flex;

  & .navigation-list {
    color: $color__secondary;

    & > .__item {
      padding: 0 30px;
      cursor: pointer;
    }
  }
}


/*
.header-main {
  position: relative;
  z-index: 170;
  background-color: $color__primary;
}

.main-block {
  width: 100%;
  min-height: $page-header-height;
  position: relative;
}

.header-showroom {
  width: 100%;
}

.header-burger {
  position: absolute;
  top: 5px;
  left: -5px;
  z-index: 190;
  padding: 15px;
  background: $color__primary;
  will-change: transform;
  transition: transform 0.5s ease-in-out;

  @include on-desktop {
    display: none;
  }

  &.is-open {
    transition: transform 0.5s ease-in-out;
    transform: translateX(80vw);

    @include on-tablet {
      transform: translateX(83vw);
    }
  }
}

.burger-menu {
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.burger-icon {
  position: absolute;
  width: 30px;
  height: 20px;
  top: 50%;
  left: 50%;
  will-change: transform;
  transform: translate(-50%, -50%);

  &>.__line {
    position: absolute;
    left: 0;
    background-color: $color__secondary;
    height: $line-size;
    width: 100%;
    border-radius: 3px;
    pointer-events: none;

    &.-first {
      top: 0;
      transition: transform .3s ease-in-out,
        top .2s ease-in-out .3s;
    }

    &.-second {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &.-third {
      bottom: 0;
      transition: transform .3s ease-in-out,
        bottom .2s ease-in-out .3s;
    }
  }

  .is-open & {
    &>.__line {
      &.-first {
        top: $to-translate;
        transform: translate3d(-6.5px, -7.5px, 0) rotate(-45deg) scaleX(.7);
        transition: top .2s ease-in-out,
          transform .3s ease-in-out .2s;
      }

      &.-third {
        bottom: $to-translate;
        transform: translate3d(-6.5px, 8px, 0) rotate(45deg) scaleX(.7);
        transition: bottom .2s ease-in-out,
          transform .3s ease-in-out .2s;
      }
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 0;
  min-height: $page-header-height;
  height: $page-header-height;

  @include on-mobile {
    left: 70px;
    max-width: 110px;
  }
}

.logo-picture {
  width: 100%;
  height: auto;

  &>.__img {
    width: 100%;
    height: auto;
  }
}

.header-buttons {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  min-height: $page-header-height;
  color: $color__secondary;
  text-transform: uppercase;

  @include on-tablet {
    z-index: 2;
  }

  @include on-desktop {
    justify-content: space-between;
  }
}

.header-language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;

  &>.__subtitle {
    color: $color__secondary;
  }

  @include on-desktop {
    padding: 15px;
    height: $page-header-height; // IE11 fix for child height miscalculation
  }

  @include on-mobile {
    display: none;
  }

  &::before, &::after {
    display: block;
    height: 15px;
    width: 15px;

    @include on-desktop {
      height: 20px;
      width: 20px;
    }
  }

  &::before {
    content: '';
    background:  url("../images/flags/italy.png") no-repeat center / contain;
    margin-right: 10px;
  }

  &::after {
    content: '';
    background: url("../images/icons/arrow_down--white.png") no-repeat center / contain;
    margin-left: 10px;
    will-change: transform;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
  }

  &.is-rotate {
    transition: background-color 0.5s ease-in-out;

    &::after {
      transform: rotate(180deg);
      transition: transform 0.5s ease-in-out;
    }
  }

  & > .__subtitle {
    margin: 0;
    padding: 0;
  }
}

.header-loginRegister {
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
  padding: 15px;

  @include on-mobile {
    display: none;
  }

  & > .__subtitle {
    margin: 0;
    padding: 0 .4em;
    color: $color__secondary;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-search {
  display: flex;
  align-items: center;
  padding: 15px;
  transition: background-color 0.1s ease-in-out;

  @include on-tablet {
    display: none;
  }

  @include on-desktop {
    display: none;
  }

  &:active {
    background-color: $color__text;
  }
}

.header-cart {
  position: relative;
  color: currentColor;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: $color__text;
  }

  & .timer {
    background-color: $color__secondary;
    color: $color__primary;
    font-size: .85rem;
    padding: .3em .6em;
    border-radius: .6em;
    margin-right: 10px;
  }

  &>.__label {
    font-size: 0.8rem;
    font-weight: 400;
    display: none;
  }

  & .items-badge {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: $color__secondary;
    color: $color__primary;
    font-size: .75rem;
    border-radius: 50%;
  }
}

.header-icon {
  width: 20px;
  height: 20px;

  &:hover {
    cursor: pointer;
  }

  @include on-desktop {
    width: 30px;
    height: 30px;
  }

  @include on-mobile {
    &.-opaque {
      opacity: 0.5;
    }
  }

  &.is-cloaked {
    display: none;
  }

  &.is-visible {
    display: block;
  }

  &>.__img {
    width: 100%;
    height: auto;
  }
}

.header-subMenu {
  display: none;
  border-bottom: 1px solid rgba(00, 00, 00, 0.2);

  @include on-tablet {
    display: block;
    background: $color__secondary;
    width: 100%;
  }

  @include on-desktop {
    display: block;
    background: $color__secondary;
    width: 100%;
  }
}

.subMenu-block {
  width: 100%;
  display: flex;
}

.subMenu-navigation {
  width: 65%;

  @include on-tablet {
    width: 100%;
  }
}

.subMenu-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-content: center;

  @include on-tablet {
    padding-right: 20px;
  }

  & > .__listItem {
    margin: 0;

    & .-link {
      display: flex;
      font-weight: 500;
      font-size: .875rem;
      line-height: 1.5em;
      font-family: $font__main;
      width: 100%;
      padding: 20px 0 17px 0;
      border-bottom: 3px solid $color__secondary;
      transition: border-color 0.5s ease-in-out;

      @include on-tablet {
        font-size: 0.65rem;
      }

      &:hover {
        border-color: $color__primary;
        text-decoration: none;
      }

      &.-active {
        border-color: $color__primary;
        text-decoration: none;
      }
    }
  }
}

.search-wrap {
  width: 35%;
  position: relative;

  @include on-tablet {
    width: 55px;
  }
}

.subMenu-search {
  position: absolute;
  z-index: 175;
  top: -5px;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: -10px 5px 2px 0px rgba(227, 227, 227, 1),
              5px 5px 2px 0px rgba(227, 227, 227, 1);
  opacity: 1;
  will-change: opacity, width;
  transition: opacity .5s ease-in-out,
              width .5s ease-in-out;

  @include on-mobile {
    top: 0;
    box-shadow: none;
  }

  &.is-focused {

    @include on-tablet {
      width: 300px;
    }

    @include on-desktop {
      width: 125%;
    }
  }

  & svg {
    & path {
      transition: fill .5s ease-in-out;
    }
  }
}

.subSearch-block {
  width: 100%;
  height: 109%;
  display: flex;
  justify-content: space-between;
  background: $color__secondary;
  will-change: border;

  @include on-mobile {
    height: 100%;
  }

  &:focus-within {
    border: 1px solid $color__primary;
  }

  &.is-searching {
    border-bottom-width: 0;
  }

  & > .__input {
    width: 70%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
    position: relative;
    font-style: italic;
    border-width: 0;

    @include on-tablet {
      position: absolute;
      width: 100%;
      background: transparent;
      padding-right: 20px;
      z-index: 10;
      transition: opacity .25s ease-in-out;
      opacity: 0;
      will-change: opacity;
    }

    .is-focused & {
      @include on-tablet {
        width: 60%;
        opacity: 1;
      }
    }
  }
}

.subSearch-cta, .subSearch-trash, .subSearch-search {
  width: 15%;
  height: 100%;
  padding: 10px;
  background: $color__secondary;
  border-width: 0;
  border-radius: 0;
  opacity: .5;
  will-change: opacity;

  @include on-tablet {
    width: 10%;
    background: transparent;
  }

  &:hover {
    background: $color__gray--light;
  }
}

.subSearch-cta {
  &:hover {
    .is-focused & {
      opacity: 1;
    }
  }

  @include on-tablet {
    position: absolute;
    right: 30px;
  }

  @include on-mobile {
    opacity: 1;
  }
}

.subSearch-search {
  @include on-tablet {
    position: absolute;
    right: 30px;
  }
}

.subSearch-trash {
  display: none;
  opacity: 0;
  transition: all .5s ease-in-out;

  @include on-tablet {
    position: absolute;
    right: 78px;
  }

  .is-searching & {
    opacity: .5;
    display: block;

    @include on-tablet {
      display: block;
    }
  }
}

.subSearch-icon {
  width: 100%;
  height: 100%;

  & .__img {
    width: 30px;
    height: 30px;
  }

  & svg {
    width: 34px;
    height: 34px;

    & path {
      transition: fill .5s ease-in-out;
    }

    .subSearch-trash & {
      width: 30px;
      height: 30px;
    }
  }
}

.subSuggest-block {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: $color__secondary;
  will-change: max-height;
  transition: max-height 0.5s ease-in-out;

  &.is-searching {
    max-height: 70vh;
    overflow: auto;
    border: 1px solid $color__gray--dark;
    border-top-width: 0;
  }

  .is-focused & {
    &.is-searching {
      border-color: $color__primary;
    }
  }

  .is-closed & {
    max-height: 0;
    border: 0;
  }
}

.suggest-response {
  display: none;

  .is-searching & {
    display: flex;
    flex-direction: column;
  }

  & > .__subtitle {
    &.-noResponse {
      font-family: $font__base;
    }
  }
}

.response-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  & > .__subtitle {
    &.-category {
      color: #a1a1a1;
      margin: 0;
    }

    &.-showMore {
      height: fit-content;
    }
  }
}

.response-body {
  padding-bottom: 15px;
}

.result-list {
  padding: 0;
  margin: 0;

  & .is-highlight {
    font-weight: 400;
  }
}

.header-choice {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  background: $color__secondary;
  z-index: 180;

  @include on-mobile {
    padding: 20px 0;
    box-shadow: 0px 5px 2px 0px rgba(66, 65, 66, 0.52);
  }

  @include on-tablet {
    display: flex;
    position: relative;
    max-height: 0;
    padding: 0;
    opacity: 1;
    overflow: hidden;
    will-change: transform, opacity, height, padding;
    transition: transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out,
      max-height 0.5s ease-in-out,
      padding 0.5s ease-in-out;
  }

  @include on-desktop {
    display: flex;
    position: relative;
    max-height: 0;
    padding: 0;
    opacity: 1;
    overflow: hidden;
    will-change: transform, opacity, height, padding;
    transition: transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out,
      max-height 0.5s ease-in-out,
      padding 0.5s ease-in-out;
  }
  .header-choiceForm{
    opacity:0;
    will-change: opacity;
    transition: opacity 0.5s ease-in-out;
    @include on-mobile {
      opacity: 1;
    }
  }

  &.is-open {
    @include on-mobile {
      transform: translateY(0);
      transition: transform 0.5s ease-in-out,
        opacity 0.8s ease-in-out;
    }

    @include on-tablet {
      max-height: 400px;
      padding: 20px 0;
      opacity: 1;
    }

    @include on-desktop {
      max-height: 400px;
      padding: 20px 0;
      opacity: 1;
    }
    .header-choiceForm{
      opacity:1;
    }
  }

  & .grid-block { // IE11 Fix for misalign when open
    flex: 1 0 100%;
  }

  &.-mobMenu {
    position: relative;
    box-shadow: none;
    transform: none;
    padding: 0;
    display: flex;
  }
}

.header-choiceForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > .__subtitle {
    margin: 0 0 40px 0;

    @include on-desktop {
      margin-bottom: 30px;
    }
  }

  & > .__description {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    @include on-desktop {
      margin-bottom: 30px;
    }
  }
}

.choice-current {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 20px;

  @include vp-large-xl {
    width: 30%;
  }

  & > .__subtitle {
    line-height: 24px;
    margin: 0;
    padding: 0;

    & .-value {
      margin-left: 5px;
    }
  }
}

.choice-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.choiceBtn-block {
  display: flex;
  min-width: 170px;
  margin-bottom: 20px;
}

.choice-country {
  width: 30px;
  height: 30px;
  margin-right: 15px;

  &>.__img {
    width: 100%;
    height: auto;
  }
}

.choice-language {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > .__subtitle {
    margin: 3px 0 15px 0;
  }
}

.choice-possibility {
  display: flex;
  justify-content: space-between;

  & .__value {
    padding: 0;
  }
}

.choice-info {
  margin: 60px 0 0 0;
  padding: 0;

  @include on-desktop {
    margin-top: 30px;
  }

  &.-mobMenu {
    margin: 0;
  }

  & > .__mail {
    font-weight: 700;
  }
}

.header-exitButton {
  position: absolute;
  top: 0;
  right: 32px;
  cursor: pointer;
}

.exitBtn-icon {
  display: flex;
  height: 25px;
  width: 25px;

  &>.__img {
    height: 25px;
    width: 25px;
  }
}

.header-mobMenu {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 84%;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
  z-index: 200;
  background: $color__secondary;
  top: 0;
  left: -100%;
  will-change: left;
  transition: left 0.5s ease-in-out;

  @include on-desktop {
    display: none;
  }

  @include on-mobile {
    overflow-y: scroll;
    max-height: 100vh;
  }

  &.is-open {
    left: 0;
  }
}

.controller-wrapper {
  order: 2;
}

.header-mobLoginRegister {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 15px;

  & > .__subtitle {
    padding: 0 10px;
    font-family: $font__main;
  }
}

.header-mobNavigation {
  width: 100%;
  height: 75%;
  padding: 10px;
  border-top: 1px solid $color__gray--light;
  border-bottom: 1px solid $color__gray--light;
}

.mobMenu-list {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;

  & > .__listItem {
    width: 100%;
    margin: 0;

    & .-link {
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      line-height: 1;
      font-weight: 500;
      font-size: .875rem;
      line-height: 1.5em;
      font-family: $font__main;
    }
  }
}

.header-mobChoice {
  width: 100%;
  height: 15%;
  padding: 15px;
  width: 100%;
}

.mobMenu-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  transition: filter 0.5s ease-in-out;

  &.is-open {
    filter: opacity(0.4);
    transition: filter 0.5s ease-in-out;
  }
}

.mobMenu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;

  &::before {
    content: ' ';
    background-image: url("../images/flags/italy.svg");
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    height: 15px;
    width: 15px;
  }

  &::after {
    content: ' ';
    background-image: url("../images/icons/arrow_down.svg");
    background-position: center;
    background-size: contain;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    will-change: transform;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
  }

  &.is-rotate::after {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
  }

  & > .__subtitle {
    margin: 0;
    padding: 0;
  }
}

.mobMenu-body {
  width: 100%;
  height: auto;
  max-height: 0;
  padding: 0 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  will-change: max-height;
  transition: max-height .5s ease-in-out;

  .has-openTab & {
    max-height: 150rem;
  }
}

.corporate-header {
  position: relative;
  width: 100%;
  background: $color__primary;
}

.header-mobSearch {
  width: 100%;
  height: fit-content;

  .async-component {
    height: fit-content;
  }
}

.mobSearch-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: transform 0.5s ease-in-out;

  &.is-closed {
    transform: translateY(-100%);
  }

  @include on-desktop {
    display: none;
  }
}
.has-stickyNavbar .corporate-header{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
}
*/