/**
* Button
*/

button, .__btn {
  display: block;
  font-family: $font__main;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  font-weight: 500;
  padding: 1.335em 1em;
  border: 1px solid $color__primary;
  color: $color__secondary;
  background-color: $color__primary;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $color__primary;
    background-color: $color__secondary;
  }

  &.-small {
    padding: 1em;
    font-size: 0.6875em;
  }

  &.-full {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: .2;

    &:hover {
      outline: none;
      cursor: not-allowed;
    }
  }
}
