/**
* Inputs
*/

input, textarea {
  font-family: $font__main;
  font-size: 0.875rem;
  line-height: 1;
  padding: 15px;
  background-color: $color__primary;
  border: 1px solid $color__secondary;

  &:focus {
    outline: none;
    outline-offset: 0;
  }
}
