/**
* Colors
*/

// Basic
$color__primary:#000000;
$color__secondary:#ffffff;
$color__accent:#f5f5f5;


// Text
$color__text: #444444;
$color__text--light: #6e6e6e;
$color__text--lighter: #e5e5e5;

// Grayscale
$color__gray: #f0f0f0 ;
$color__gray--light: #fcfcfc ;
$color__gray--dark: #dddddd ;

// Status color
$color__error: #c72f1c;
$color__warning: #ffc107;
$color__success: #42b983;
