/**
* Colors
*/

// Basic
$color__primary:#000000;
$color__secondary:#ffffff;

// Background
$color__background:#ebebeb;
$color__background--dark:#cccccc;

// Text
$color__text: #383838;
$color__text--dark: #4d4d4d;
$color__text--white: #ffffff;
$color__text--black: #000000;

// Grayscale
$color__gray: #4d4d4d ;
$color__gray--light: #706e68;
$color__gray--dark: #252525 ;

// Status color
$color__error: #c72f1c;
$color__warning: #ffc107;
$color__success: #42b983;
