/**
* Globals
*/

$font__main: 'Gotham', sans-serif;
$font__size--base: 16px !default;
$line-height--base: 1.4 !default;

// Grid
$grid-max-width: 1440px;
$grid-marging: 150px;
$grid-marging-mobile: 15px;
$grid-gutter: 30px;
$grid-gutter-mobile: 15px;

// BreakPoints
$breakpoint__small-xs: 320px;
$breakpoint__small-s: 480px;
$breakpoint__small: 560px;
$breakpoint__medium: 768px;
$breakpoint__large: 1024px;
$breakpoint__large-l: 1200px;