/**
* Globals
*/

$font__main: 'Gotham', sans-serif;
$font__size--base: 16px !default;
$line-height--base: 1.4 !default;

// Grid
$grid-max-width: 1440px;
$grid-horizontal-padding: 20px;
$grid-horizontal-padding-mobile: 15px;
