/**
* Globals
*/

// Fonts
$font__main: 'Gotham', sans-serif;
$font__size--base: 16px !default;
$font__size--tablet: 15px !default;
$font__size--mobile: 14px !default;
$line-height--base: 1.4 !default;
$line-height--tablet: 1.3 !default;
$line-height--mobile: 1.2 !default;

// Grid
$grid__max-width: 1440px;
$grid__marging: 150px;
$grid__marging-mobile: 15px;
$grid__gutter: 30px;
$grid__gutter-mobile: 15px;

// BreakPoints
$breakpoint__small-xxs: 320px;
$breakpoint__small-xs: 375px;
$breakpoint__small-s: 425px;
$breakpoint__small: 560px;
$breakpoint__medium: 768px;
$breakpoint__large: 1024px;
$breakpoint__large-l: 1200px;

// Fab
$fab__btn-dim: 75px;
$fab__radial-dim: $fab__btn-dim * 4;
$fab__icon-dim: 18px;