/**
* Button
*/

.-outline {
  border: 1px solid $color__secondary;

  &:hover {
    border-color: $color__primary;
  }

  &.-inverted {
    color: $color__primary;
    background-color: $color__secondary;
    border-color: $color__primary;

    &:hover {
      color: $color__secondary;
      background-color: $color__primary;
      border-color: $color__secondary;
    }
  }
}

.-cta {
  padding: 20px;

  svg {
    margin-left: 10px
  }
}

