/**
* Inputs
*/

// Wrapper
.input-wrapper {
  display: flex;
  flex-direction: column;

  &.has-error {
    & > .__input {
      margin-bottom: 0;
    }
  }

  & > .__input {
    margin-bottom: 20px;
  }

  & > .error-msg {
    color: $color__error;
    font-size: 0.625em;
    text-transform: capitalize;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

// Inputs
input, textarea {

  &::-ms-clear, &::-ms-reveal {    // IE11 fix on user agent default clear + eye buttons
    display: none;
  }

  &:disabled {
    opacity: 0.5;
  }

  &.-success {
    border-color: $color__success;
  }

  &.-error {
    border-color: $color__error;
  }
}
