/**
* Layout
*/

// Page Layout
.page-container {
  background-color: $color__primary;
}

.page-wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  // max-width: $grid-max-width;
  // height: 100vh;
}

.page-content {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

// Grid
.grid-wrapper {
  max-width: $grid-max-width;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &.-inverted {
    flex-direction: row-reverse;
  }

  &.-padded {
    padding: 0 $grid-marging;
  }

  &.-gutted {
    & > .grid-column {
      margin-right: $grid-gutter;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.grid-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

$widthPerc: (
    twenty : 2,
    twentyFive : 2.5,
    thirty : 3,
    thirtyFive : 3.5,
    fourty : 4,
    fourtyFive : 4.5,
    fifty : 5,
    fiftyFive : 5.5,
    sixty : 6,
    sixtyFive : 6.5,
    seventy : 7,
    seventyFive : 7.5,
    eighty : 8,
    eightyFive : 8.5,
    ninety : 9,
    ninetyFive : 9.5
);

// @include on-vp('medium') {
@media screen and (min-width: 768px) {
  .grid-column {
    flex: 1;

    @each $name, $perc in  $widthPerc {
      &.-#{$name} {
          flex: $perc;
      }
    }
  }
}
