
// Paragraphs
p {
  &.-small {
    font-size: 0.75rem;
  }
}


// Titles
.__title {
  font-size: 1.5rem;
  font-weight: 500;

  &.-small {
    font-size: 1rem;
  }

  &.-big {
    font-size: 1.875rem;
    font-weight: 700;
  }

  &.-huge {
    font-size: 2.25rem;
    font-weight: 700;
  }

  &.-massive {
    font-size: 3rem;
    font-weight: 700;     
  }
}

// SubTitles
.__subtitle {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5em;

    &.-big {
      font-size: 1rem;
    }

    &.-small {
      font-size: 0.75rem;
    }
    &.-light {
      font-weight:400;
    }
}

// Title groups
.title-group {
  & >:nth-child(1) {
    text-transform: uppercase;
    margin-bottom: .2em;
  }

  & >:nth-child(2) {
    margin-bottom: .75em;
  }
}