/**
* Layout
*/


// Page Layout
.page-container {
  background-color: $color__primary;
}

.page-wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  // max-width: $grid-max-width;
  // height: 100vh;
}

.page-content {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

// Grid
.grid-wrapper {
  max-width: $grid-max-width;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &.-padded {
    margin: 0 $grid-marging;
  }

  &.-gutted {
    & > .grid-column {
      margin-right: $grid-gutter;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.grid-column {
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

// @include on-vp('small') {
//   display: none;
// }
@include vp-small-xs {
  // outline: 2px solid cyan;
}

@media screen and (min-width: 800px) {
  .grid-column {
    flex: 1;

    &.-twenty {
      flex: 2;
    }

    &.-twentyFive {
      flex: 2.5;
    }

    &.-thirty {
      flex: 3;
    }

    &.-fiftyFive {
      flex: 5.5;
    }

    &.-seventy {
      flex: 7;
    }

    &.-ninety {
      flex: 9;
    }
  }
}
