// ******************************
// INPUTS
// common inputs resets and style
// ******************************

/**
* Form Components that allow the user to interact and triggers logics.<br>
* More elements may be needed to be correctly renderizied.
* For custom components layout can be overwritten.
* 
* See _objects.inputs.scss
* 
* @section Inputs
* @page Components
*/

// Wrapper
.input-wrapper, .select-wrapper, .checkbox-wrapper, .radio-wrapper {
  & > .__label {
    color: #a3a3a3;
    font-size: 0.625em;
    margin-bottom: 3px;
    text-transform: uppercase;
  }

  & > .error-msg {
    color: $color__error;
    font-size: 0.625em;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

/**
* + Input is generally composed of a **.input-wrapper**, a **.__label** ,a **.__input** and various **.error-msg**
* + Client side validation is required.  
* + In case of errors add the **.has-error** class to **.input-wrapper**
* + On input change add a **.-success** or **.-error** class to **.__input**  
* + The relative **.error-msg** will be show in case the value is invalid, required or when the input needs to be validated.
* 
* @example
  <div class="grid-block -half">
    <div class="input-wrapper">
      <!-- 
      <label for="email0" class="__label">
        Senza Label
      </label>
      -->
      <input type="text" name="email0"
        placeholder="Inserisci la tua email"
        class="__input">
    </div>
    <div class="input-wrapper">
      <label for="email1" class="__label">
        Con Label disabilitato
      </label>
      <input type="text" name="email1"
        placeholder="Inserisci la tua email"
        class="__input" disabled>
    </div>
    <div class="input-wrapper">
      <label for="email2" class="__label">
        Success
      </label>
      <input type="text" name="email2"
        placeholder="Inserisci la tua email"
        class="__input -success">
    </div>
    <div class="input-wrapper has-error">
      <label for="email3" class="__label">
        Error
      </label>
      <input type="text" name="email3"
        placeholder="Inserisci la tua email"
        class="__input -error">
      <p class="error-msg">
        Email is required
      </p>
    </div>
  </div>
* @section Inputs
* @sectionof Inputs
* @page Components
*/

// Inputs
input {
  padding: 17px 15px;
  border: 1px solid $color__gray;
  font-family: $font__main;
  line-height: 1;

  &::-ms-clear, &::-ms-reveal {    // IE11 fix on user agent default clear + eye buttons
    display: none;
  }

  &:focus {
    border-color: $color__primary;
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
  }

  &.-success {
    border-color: $color__success;
    background: url('/assets/images/icons/checked--success.svg') no-repeat right 15px center/25px; // sostituisci con icona success 
  }

  &.-error {
    border-color: $color__error;
    background: url('/assets/images/icons/cancel.svg') no-repeat right 15px center/25px; // sostituisci con icona errore
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  @include on-mobile {
    flex-direction: column;
  }

  & > input {
    margin-bottom: 29px;

    &.-error {
      margin-bottom: 0;
    }
  }
}

/**
*
* <p> 
*   Apply **__select** class to a select element to get default select style. <br/>
*   Add a variant class to apply an icon as background image (follow example in the style tag below).
* </p>
* 
* @example
  <div class="grid-block -half">
      <div class="input-wrapper" style="margin-bottom:20px">
          <label class="__label">Default select</label>
          <select class="__select">
              <option selected disabled>Default select</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
              <option>Option 6</option>
          </select>
      </div>
      <div class="input-wrapper">
          <label class="__label">Select with background image</label>
          <select class="__select -locationIcon">
              <option selected disabled>Select with icon</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
              <option>Option 6</option>
          </select>
      </div>
  </div>
  * @code
  <div class="grid-block -half">
      <div class="input-wrapper">
          <label class="__label">Default select</label>
          <select class="__select">
              <option selected disabled>Default select</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
              <option>Option 6</option>
          </select>
      </div>
      <div class="input-wrapper">
          <label class="__label">Select with background image</label>
          <select class="__select -applyIcon">
              <option selected disabled>Select with background image</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
              <option>Option 6</option>
          </select>
      </div>
  </div>
  <style>
      .-applyIcon {
          background: url('your path goes here...') 14px center no-repeat, 
                url('/assets/images/icons/arrow_down--small.png') right 12px center no-repeat;
          text-indent: 35px
      }
  </style>
* @section Selects
* @sectionof Inputs
* @page Components
*/

.__select {
  position: relative;
  width: 100%;
  min-width: 250px;
  // height: 50px;
  line-height: 1.5em;
  padding: 10px 30px 10px 10px;
  background-color: $color__gray--light !important;
  // background: url('/assets/images/icons/arrow_down--small.png') right 12px center no-repeat;
  border-radius: 2px;
  border: 1px solid $color__primary;
  font-size: 0.875em;
  text-transform: uppercase;
  line-height: unset;
  font-family: $font__main;
  font-weight: 700;
  -webkit-appearance: none;
  appearance: none;
  
  &:focus {
    outline: none !important;
  }

  &::-ms-expand {   // Fix For IE dropdowns
    display: none;
  }
  &.-locationIcon {
    background: url('/assets/images/icons/map_marker--select.png') 14px center no-repeat, 
                url('/assets/images/icons/arrow_down--small.png') right 12px center no-repeat;
    padding-left: 45px;
    @include IEfix {
      padding-left: 40px;
    }
  }
  &.-calendarIcon {
    background: url('/assets/images/icons/calendar--black.png') 10px center no-repeat, 
                url('/assets/images/icons/arrow_down--small.png') right 12px center no-repeat;
    padding-left: 45px;
    @include IEfix {
      padding-left: 40px;
    }
  }
  &.-ticketIcon {
    background: url('/assets/images/icons/ticket--black.png') 10px center no-repeat,
                url('/assets/images/icons/arrow_down--small.png') right 12px center no-repeat;
    padding-left: 45px;
    @include IEfix {
      padding-left: 40px;
    }
  }
  &.-delete {
    // this is a fake select made via <div>
    // so we can use :after position with background icon
    // to draw over select arrow
    cursor: pointer;
    border:none;
    &:after {
      content:'';
      position: absolute;
      right:0;
      top:0;
      height: 100%;
      width: 25px;
      background: $color__gray--light url('/assets/images/icons/select-cancel.svg') center no-repeat;
    }
  }
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include on-mobile {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 18px;

    & >.toggle-button {
      width: 30%;
      background-color: #FFF;
      border-radius: 2px;
      font-size: 0.625em;
      line-height: unset;
      padding-right: 0px;
      padding-left: 25px;

      &.-fullWidth {
        width: 100%;
        padding-left: 40px;
        text-align: left;
        font-size: 0.875em;
      }

      &.-half {
        width: 47.5%;
      }

      &.-locationIcon {
        background: url('/assets/images/icons/map_marker--select.png') 10px center no-repeat,
                    url('/assets/images/icons/arrow_down--small.png') right 15px center no-repeat;
      }

      &.-mapIcon {
        background: url('/assets/images/icons/map_marker--select.png') 10px center no-repeat;
      }
  
      &.-calendarIcon {
        background: url('/assets/images/icons/calendar--black.png') 6px center no-repeat;
      }
  
      &.-ticketIcon {
        background: url('/assets/images/icons/ticket--black.png') 6px center no-repeat;
      }

      &.-listIcon {
        background: url('/assets/images/icons/list_select--black.png') 10px center no-repeat;
      }

      &:focus, &:hover {
        outline: none !important;
      }
    }
  }
}

/**
* + Checkboxes are composed of: **.checkbox-wrapper**, a **.checkbox-group** ,a **.__text** and a **checkbox-svg**.
* + The wrapper gives this component the flex rule it needs and style the element text
* + Checkbox-group hides the input and change its graphics via SVG, that needs to be inserted in the template directly for animation purposes.
* + Checkboxes have the .-inverted variant who change them to live on dark backgrounds
* 
* @example
  <div class="grid-block -half">
    <div style="width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="checkbox-wrapper">
        <div class="checkbox-obj">
          <div class="checkbox-group">
            <input id="check1" name="check1" type="checkbox" class="__input">
            <label for="check1" class="checkbox-label">
              <svg viewBox="0,0,50,50" class="checkbox-svg">
                <path d="M5 30 L 20 45 L 45 5" class="__path" />
              </svg>
            </label>
          </div>
          <label for="check1" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="checkbox-wrapper">
        <div class="checkbox-obj">
          <div class="checkbox-group">
            <input id="check2" name="check2" type="checkbox" class="__input" disabled>
            <label for="check2" class="checkbox-label">
              <svg viewBox="0,0,50,50" class="checkbox-svg">
                <path d="M5 30 L 20 45 L 45 5" class="__path" />
              </svg>
            </label>
          </div>
          <label for="check2" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="background:$color__primary; width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="checkbox-wrapper">
        <div class="checkbox-obj">
          <div class="checkbox-group">
            <input id="check3" name="check3" type="checkbox" class="__input -error">
            <label for="check3" class="checkbox-label">
              <svg viewBox="0,0,50,50" class="checkbox-svg">
                <path d="M5 30 L 20 45 L 45 5" class="__path" />
              </svg>
            </label>
          </div>
          <label for="check3" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
        <div class="error-msg">
          You must read and agree to our terms and conditions
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="background:$color__primary; width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="checkbox-wrapper">
        <div class="checkbox-obj -inverted">
          <div class="checkbox-group">
            <input id="check4" name="check4" type="checkbox" class="__input">
            <label for="check4" class="checkbox-label">
              <svg viewBox="0,0,50,50" class="checkbox-svg">
                <path d="M5 30 L 20 45 L 45 5" class="__path" />
              </svg>
            </label>
          </div>
          <label for="check4" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
  </div>
* @section Checkboxes
* @sectionof Inputs
* @page Components
*/

// Checkbox
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
}

.checkbox-obj {
  display: flex;
  align-items: flex-start;
  line-height: 14px;

  
  &.-inverted {
    & > .__text {
      color: $color__secondary;
    }

    & > .checkbox-group {
      & > .__input {
        &+.checkbox-label {
          border-color: $color__secondary;

          & > .checkbox-svg {
            & > .__path {
              stroke: $color__secondary;
            }
          }
        }
      }
    }
  }

  & > .__text {
    color: $color__primary;
    font-family: $font__base;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 14px;
    text-transform: none;
  }
}

.checkbox-group {
  margin-right: 15px;

  & > .__input {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;

    &:checked+.checkbox-label .checkbox-svg .__path {
      stroke-dashoffset: 0;
    }

    &:disabled+.checkbox-label {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }

    & + .checkbox-label {
      display: block;
      border: 2px solid $color__primary;
      width: 20px;
      height: 20px;
      border-radius: 0;
      cursor: pointer;
      will-change: all;
      transition: all .2s ease;

      & > .checkbox-svg {
        pointer-events: none;

        & > .__path {
          fill: none;
          stroke: $color__primary;
          stroke-width: 5px;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 100;
          stroke-dashoffset: 101;
          transition: all 350ms cubic-bezier(1, 0, .37, .91);
        }
      }
    }

    &.-error {
      &+.checkbox-label {
        border-color: $color__error;
  
        & > .checkbox-svg {
          & > .__path {
            stroke: $color__error;
          }
        }
      }
    }
  }
}

/**
* + Radio buttons are composed of: **.radio-wrapper**, a **.radio-group** ,a **.__text** and a **::after**.<br>
* + The wrapper gives this component the flex rule it needs and style the element text
* + Checkbox-group hides the input and change its graphics
* + Radio have the .-inverted variant who change it to live on dark backgrounds.
* 
* @example
  <div class="grid-block -half">
    <div style="width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="radio-wrapper">
        <div class="radio-obj">
          <div class="radio-group">
            <input id="radio1" name="radio" type="radio" class="__input">
            <label for="radio1" class="radio-label"></label>
          </div>
          <label for="radio1" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="radio-wrapper">
        <div class="radio-obj">
          <div class="radio-group">
            <input id="radio2" name="radio" type="radio" class="__input" disabled>
            <label for="radio2" class="radio-label"></label>
          </div>
          <label for="radio2" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="background:$color__primary; width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="radio-wrapper">
        <div class="radio-obj">
          <div class="radio-group">
            <input id="radio3" name="radio" type="radio" class="__input -error">
            <label for="radio3" class="radio-label"></label>
          </div>
          <label for="radio3" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
        <div class="error-msg">
          You must read and agree to our terms and conditions
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="background:$color__primary; width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="radio-wrapper ">
        <div class="radio-obj -inverted">
          <div class="radio-group">
            <input id="radio4" name="radio" type="radio" class="__input">
            <label for="radio4" class="radio-label"></label>
          </div>
          <label for="radio3" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
  </div>
* @section Radio Buttons
* @sectionof Inputs
* @page Components
*/

// Radio Button
.radio-wrapper {
  display: flex;
  flex-direction: column;
}

.radio-obj {
  display: flex;
  line-height: 14px;

  &.-inverted {
    & >.__text {
      color: $color__secondary;
    }

    & > .radio-group {
      & > .__input {
        &:checked+.radio-label::after {
          background: $color__secondary;
        }

        &+.radio-label {
          border-color: $color__secondary;
        }
      }
    }
  }

  & > .__text {
    color: $color__primary;
    font-family: $font__base;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 14px;
    text-transform: none;
  }
}

.radio-group {
  height: 100%;
  border-radius: 50%;
  margin-right: 15px;

  & > .__input {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;

    &:checked+.radio-label::after {
      background: $color__primary;
    }

    &:disabled+.radio-label{
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }

    & + .radio-label {
      display: block;
      position: relative;
      border: 2px solid $color__primary;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      will-change: all;
      transition: all .2s ease-in-out;

      &::after {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 14px;
        width: 14px;
        top: 1px;
        left: 1px;
        margin: auto;
        transition: background 0.25s ease-in-out;
        -webkit-transition: background 0.25s ease-in-out;
      }
    }

    &.-error {
      &:checked+.radio-label::after {
        background: $color__error;
      }

      &+.radio-label {
        border-color: $color__error;
      }
    }
  }
}

/**
* + Toggle buttons are composed of: **.radio-wrapper**, a **.radio-group** ,a **.__text** and a **::after**.<br>
* + The wrapper gives this component the flex rule it needs and style the element text
* + Checkbox-group hides the input and change its graphics
* + Radio have the .-inverted variant who change it to live on dark backgrounds.
* 
* @example
  <div class="grid-block -half">
    <div style="width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="radio-wrapper">
        <div class="radio-obj">
          <div class="radio-group">
            <input id="radio1" name="radio" type="radio" class="__input">
            <label for="radio1" class="radio-label"></label>
          </div>
          <label for="radio1" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="radio-wrapper">
        <div class="radio-obj">
          <div class="radio-group">
            <input id="radio2" name="radio" type="radio" class="__input" disabled>
            <label for="radio2" class="radio-label"></label>
          </div>
          <label for="radio2" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="background:$color__primary; width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="radio-wrapper">
        <div class="radio-obj">
          <div class="radio-group">
            <input id="radio3" name="radio" type="radio" class="__input -error">
            <label for="radio3" class="radio-label"></label>
          </div>
          <label for="radio3" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
        <div class="error-msg">
          You must read and agree to our terms and conditions
        </div>
      </div>
    </div> <!-- Do not copy this div -->
    <div style="background:$color__primary; width: 100%; padding: 20px;"> <!-- Do not copy this div -->
      <div class="radio-wrapper ">
        <div class="radio-obj -inverted">
          <div class="radio-group">
            <input id="radio4" name="radio" type="radio" class="__input">
            <label for="radio4" class="radio-label"></label>
          </div>
          <label for="radio3" class="__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Fugit nostrum ullam reiciendis libero cum ab ut incidunt, 
            error cupiditate suscipit molestias amet facilis qui voluptates adipisci 
            laborum ipsam laudantium quas minima quis accusantium distinctio consequatur corporis quasi. 
          </label>
        </div>
      </div>
    </div> <!-- Do not copy this div -->
  </div>
* @section Toggle Buttons
* @sectionof Inputs
* @page Components
*/

// variables
$toggle-width--small: 45px;
$toggle-height--small: 20px;
$toggle-width: 67.5px;
$toggle-height: 30px;
$toggle-width--big: 90px;
$toggle-height--big: 40px;

// Toggle Button
.toggle-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  &.-big {
    & .toggle-label {
      width: $toggle-width--big;
      height: $toggle-height--big;

      & > .__handler {
        width: $toggle-height--big - 6;
        height: $toggle-height--big - 6;
      }
    }

    & .toggle-group {
      & > .__input:checked {
        +.toggle-label {  
          & > .__handler {
            transform: translate3d(49px, 0, 0);
          }
        }
      }
    }
  }

  &.-small {
    & .toggle-label {
      width: $toggle-width--small;
      height: $toggle-height--small;

      & > .__handler {
        width: $toggle-height--small - 6;
        height: $toggle-height--small - 6;
      }
    }

    & .toggle-group {
      & > .__input:checked {
        +.toggle-label {  
          & > .__handler {
            transform: translate3d(24.5px, 0, 0);
          }
        }
      }
    }
  }
}

.toggle-obj {
  display: flex;
  line-height: 14px;

  & > .__text {
    color: $color__primary;
    font-family: $font__base;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 14px;
    text-transform: none;
  }
}

.toggle-group {
  & > .__input {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;

    &:checked {
      +.toggle-label {
        background-color: $color__secondary--dark;

        & > .__handler {
          transform: translate3d(36.75px, 0, 0);
        }
      }
    }
  }
}

.toggle-label {
  cursor: pointer;
  display: inline-block;
  width: $toggle-width;
  height: $toggle-height;
  background-color: $color__secondary;
  border: 1px solid $color__gray--dark;
  border-radius: 50px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  
  & .__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: $toggle-height - 6;
    height: $toggle-height - 6;
    background-color: $color__secondary;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
